body{
  margin-top: 0;
  background-size:cover;
  background-attachment: fixed;
  /*opacity: 0.2;*/
  background-image: url(https://i.pinimg.com/originals/3e/81/94/3e819415c58c3954b2ee79c2f17454c6.jpg) ;
}
.logo{
  margin-top: 20px;
  width:80px;
}
.borderOfTitle{
  border: 4px inset #c10000;
  margin: 30px 100px;
  padding: 8px 13px;
  text-align: center;
  color: black;
  font-weight: bold;
  background-color: rgba(255,255,255,0.7);
}
.displayDate{
  background-color: rgba(255,255,255,0.7);
  margin: 50px 0;
}